/* Estilos para la interfaz de error */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  #error-message {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    max-width: 400px;
  }
  
  h1 {
    color: #d9534f;
  }
  
  a {
    text-decoration: none;
    color: #0074a4;
  }
  
  a:hover {
    text-decoration: underline;
  }
  