/* Estilos para la página de HOME */
body {
    font-family: Arial, sans-serif;
    background-color: #bbbbbb;
  }
  
  header {
    background-color: #231f1f;
    color: white;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
  }
  
  
#centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

  