/* Estilos para la interfaz de recursos */
body {
    font-family: Arial, sans-serif;
    background-color: #bbbbbb;
  }
  
  header {
    background-color: #231f1f;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #0074a4;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  